@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:100px">
   
    
    <div class="">
        <img src="~/Content/on4.jpg"/>
    </div>
    <p class="lead"><h2>Sign Up to Start applying for 1000+ jobs.</h2></p>
    <p>
        Looking for a new job? want something intriguing than what you are doing currently?
        you are at the right place:  we have the answers to all those questions in your head.

        Sign up for HR recruitment, we have over 1000 job Adverts that would definitely suit you.
    </p>
  
</div>

<div class="row">
    <h2>Popular Topics</h2>
    <div class="col-md-4">
        <div>
            <img  src="~/Content/on1.jpg"/>
        </div>
        <p>
            How to Prepare for an Interview

         </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div>
            <img src="~/Content/on2.jpg" />
        </div>
        
        <p>How to make a Resume.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <div>
            <img src="~/Content/on3.jpg" />
        </div>
        
        <p>How to Limit your mistakes during Job interviews</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>