
@{
    ViewBag.Title = "RegistrationType";
}
<div style="margin-top:120px">
    <h2>  Register as</h2>

    <p>
        @Html.ActionLink("JOBSEEKER", "RegisterJobSeeker", null, new { @class = "btn btn-default" }) &emsp; ||  &emsp;   @Html.ActionLink("COMPANY", "RegisterCompany", null, new { @class = "btn btn-default" })
    </p>

</div>