
@{
    ViewBag.Title = "SuccessRegistration";
}

<div style="margin-top:120px">
    <h2>You  Have Successfully Registered as  @ViewBag.UserType</h2>

    <p>
        @Html.ActionLink("Click Here to Sign In", "Login", "Account")
</p>

</div>